---
sudo: required
language: python
services: docker

env:
  - version=">=2.4,<2.5" distro="alpine-latest"
  - version=">=2.5,<2.6" distro="alpine-latest"
  - version=">=2.6,<2.7" distro="alpine-latest"
  - version=">=2.7,<2.8" distro="alpine-latest"
  - version="devel" distro="alpine-latest"
  - version=">=2.4,<2.5" distro="alpine-edge"
  - version=">=2.5,<2.6" distro="alpine-edge"
  - version=">=2.6,<2.7" distro="alpine-edge"
  - version=">=2.7,<2.8" distro="alpine-edge"
  - version="devel" distro="alpine-edge"
  - version=">=2.4,<2.5" distro="archlinux" expectation="fail"
  - version=">=2.5,<2.6" distro="archlinux" expectation="fail"
  - version=">=2.6,<2.7" distro="archlinux" expectation="fail"
  - version=">=2.7,<2.8" distro="archlinux" expectation="fail"
  - version="devel" distro="archlinux" expectation="fail"
  - version=">=2.4,<2.5" distro="centos-6" expectation="fail"
  - version=">=2.5,<2.6" distro="centos-6" expectation="fail"
  - version=">=2.6,<2.7" distro="centos-6" expectation="fail"
  - version=">=2.7,<2.8" distro="centos-6" expectation="fail"
  - version="devel" distro="centos-6" expectation="fail"
  - version=">=2.4,<2.5" distro="centos-latest"
  - version=">=2.5,<2.6" distro="centos-latest"
  - version=">=2.6,<2.7" distro="centos-latest"
  - version=">=2.7,<2.8" distro="centos-latest"
  - version="devel" distro="centos-latest"
  - version=">=2.4,<2.5" distro="debian-latest" expectation="fail"
  - version=">=2.5,<2.6" distro="debian-latest" expectation="fail"
  - version=">=2.6,<2.7" distro="debian-latest" expectation="fail"
  - version=">=2.7,<2.8" distro="debian-latest" expectation="fail"
  - version="devel" distro="debian-latest"
  - version=">=2.4,<2.5" distro="debian-stable" expectation="fail"
  - version=">=2.5,<2.6" distro="debian-stable" expectation="fail"
  - version=">=2.6,<2.7" distro="debian-stable" expectation="fail"
  - version=">=2.7,<2.8" distro="debian-stable" expectation="fail"
  - version="devel" distro="debian-stable"
  - version=">=2.4,<2.5" distro="debian-unstable"
  - version=">=2.5,<2.6" distro="debian-unstable"
  - version=">=2.6,<2.7" distro="debian-unstable"
  - version=">=2.7,<2.8" distro="debian-unstable"
  - version="devel" distro="debian-unstable"
  - version=">=2.4,<2.5" distro="fedora-latest" expectation="fail"
  - version=">=2.5,<2.6" distro="fedora-latest" expectation="fail"
  - version=">=2.6,<2.7" distro="fedora-latest" expectation="fail"
  - version=">=2.7,<2.8" distro="fedora-latest" expectation="fail"
  - version="devel" distro="fedora-latest" expectation="fail"
  - version=">=2.4,<2.5" distro="fedora-rawhide" expectation="fail"
  - version=">=2.5,<2.6" distro="fedora-rawhide" expectation="fail"
  - version=">=2.6,<2.7" distro="fedora-rawhide" expectation="fail"
  - version=">=2.7,<2.8" distro="fedora-rawhide" expectation="fail"
  - version="devel" distro="fedora-rawhide" expectation="fail"
  - version=">=2.4,<2.5" distro="opensuse-leap" expectation="fail"
  - version=">=2.5,<2.6" distro="opensuse-leap" expectation="fail"
  - version=">=2.6,<2.7" distro="opensuse-leap" expectation="fail"
  - version=">=2.7,<2.8" distro="opensuse-leap" expectation="fail"
  - version="devel" distro="opensuse-leap" expectation="fail"
  - version=">=2.4,<2.5" distro="opensuse-tumbleweed" expectation="fail"
  - version=">=2.5,<2.6" distro="opensuse-tumbleweed" expectation="fail"
  - version=">=2.6,<2.7" distro="opensuse-tumbleweed" expectation="fail"
  - version=">=2.7,<2.8" distro="opensuse-tumbleweed" expectation="fail"
  - version="devel" distro="opensuse-tumbleweed" expectation="fail"
  - version=">=2.4,<2.5" distro="ubuntu-artful" expectation="fail"
  - version=">=2.5,<2.6" distro="ubuntu-artful" expectation="fail"
  - version=">=2.6,<2.7" distro="ubuntu-artful" expectation="fail"
  - version=">=2.7,<2.8" distro="ubuntu-artful" expectation="fail"
  - version="devel" distro="ubuntu-artful" expectation="fail"
  - version=">=2.4,<2.5" distro="ubuntu-latest"
  - version=">=2.5,<2.6" distro="ubuntu-latest"
  - version=">=2.6,<2.7" distro="ubuntu-latest"
  - version=">=2.7,<2.8" distro="ubuntu-latest"
  - version="devel" distro="ubuntu-latest"
  - version=">=2.4,<2.5" distro="ubuntu-devel"
  - version=">=2.5,<2.6" distro="ubuntu-devel"
  - version=">=2.6,<2.7" distro="ubuntu-devel"
  - version=">=2.7,<2.8" distro="ubuntu-devel"
  - version="devel" distro="ubuntu-devel"

matrix:
  allow_failures:
    - env: version=">=2.4,<2.5" distro="alpine-edge"
    - env: version=">=2.5,<2.6" distro="alpine-edge"
    - env: version=">=2.6,<2.7" distro="alpine-edge"
    - env: version=">=2.7,<2.8" distro="alpine-edge"
    - env: version="devel" distro="alpine-edge"
    - env: version="devel" distro="alpine-latest"
    - env: version="devel" distro="archlinux" expectation="fail"
    - env: version="devel" distro="centos-6"
    - env: version="devel" distro="centos-latest"
    - env: version="devel" distro="debian-latest"
    - env: version="devel" distro="debian-stable"
    - env: version=">=2.4,<2.5" distro="debian-unstable"
    - env: version=">=2.5,<2.6" distro="debian-unstable"
    - env: version=">=2.6,<2.7" distro="debian-unstable"
    - env: version=">=2.7,<2.8" distro="debian-unstable"
    - env: version="devel" distro="debian-unstable"
    - env: version="devel" distro="fedora-latest" expectation="fail"
    - env: version=">=2.4,<2.5" distro="fedora-rawhide" expectation="fail"
    - env: version=">=2.5,<2.6" distro="fedora-rawhide" expectation="fail"
    - env: version=">=2.6,<2.7" distro="fedora-rawhide" expectation="fail"
    - env: version=">=2.7,<2.8" distro="fedora-rawhide" expectation="fail"
    - env: version="devel" distro="fedora-rawhide" expectation="fail"
    - env: version="devel" distro="opensuse-leap"
    - env: version="devel" distro="opensuse-tumbleweed"
    - env: version="devel" distro="ubuntu-artful"
    - env: version=">=2.4,<2.5" distro="ubuntu-devel"
    - env: version=">=2.5,<2.6" distro="ubuntu-devel"
    - env: version=">=2.6,<2.7" distro="ubuntu-devel"
    - env: version=">=2.7,<2.8" distro="ubuntu-devel"
    - env: version="devel" distro="ubuntu-devel"
    - env: version="devel" distro="ubuntu-latest"

cache:
  - pip

install:
  - pip install --upgrade pip
  - if [ "${version}" != "devel" ] ; then pip install ansible"${version}" ; fi
  - if [ "${version}" = "devel" ] ; then pip install git+https://github.com/ansible/ansible.git@devel ; fi
  - pip install molecule
  - pip install docker

script:
  - if [ "${expectation}" = "fail" ] ; then ! molecule test --scenario-name "${distro}" ; else molecule test --scenario-name "${distro}" ; fi

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: "g5US3zcoPfq8BQ/W275pn5tmDxgWhJ1HFSqyFtqgxiEdwnAf6nh6zaDGE/Dng7mlbIgOwiPhDGhpPlWSunNbfQWxfb6dItXLEQwTwRd+iURfdRpha5zZBVme9ArCd7VMnlbI0hAVgAC/S1bvFcusME3XBxly8SZQmXW0asG7XMN5faZFry+uyE64g70ZhAS+1qYVpBQZW2w0+cB5vAIhfrYTS93WBRfa0uk6yclMGOHWEq0jahn/x7X8TbS66MblipWxI6eGo0XAyrt2BTnhAkFq9RjUJNW+GZE6rvW8/VPodHa9Z23WChpFsGVyShT4AXXHf2ymWTvPhchQvdX2PixnZeLDBw+Fbce686pYicfCKnaftDFRhA0wRibhFiPe0akHuPKEZ0efeILGXfWK/7PaGY472KrZwIU4AbuAny2PpqsiqFK3FCmzFcqNU/fKju7xCIJuFsu7kK+RGlkeKaeOsbSuP2nz5S+rO8te0CEqROcS2/bviG9vEE0cahwhtesbGsLV3xUngKzbZYosKWwrSsmBhW4PCglO8Ue7waHW+dsoTWZ32FPAygZzN9tKvPwd6DoZrfhz9MGv5Fs3FnHJ9ptMrFYE2nBbval4XtnBW7B7gsu4+TdfPtCPDOO5D6Y64B9DM6RZwWeP6PFcC0agXU863BHfLfjvqYFQD7U="
  email: false
